.bg-grey{
    background-color: #fbfbfb;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex label
{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  display: inline;
  text-align: right;
  margin-right: 10px;
  text-transform: capitalize;
}

.width-50>div>input,

.width-50>div>span {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  max-width: 65%;
}

.width-50>div>select {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 67%;
  flex: 0 0 67%;
  max-width: 67%;
}

.flex span>input:not(:only-of-type) {
  width: 100%;
}

.width-50 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.width-50>div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.column {
    column-count: 2;
}
.form-wala {
    width: 700px;
}
.form-wala label{
width: 100px;
text-align: left;
display: inline-block;
vertical-align: top;
}
.form-wala > div > div {
    margin-bottom: 14px;
}
input[type="date"]{
    position: relative;
overflow: visible;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background-repeat:  no-repeat;
    width: 25px;
    height: 25px;
    border-width: thin
    
}
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 100%;
}
